@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700);
html { font-size: 18px; line-height: 1.7; }
body { font-family: 'Open Sans', sans-serif; margin: 0px; color: #161314; line-height: 1.7;/* line-height: normal; */ font-size: inherit; background-color: #333333; padding-right: 0px !important; }
a, .btn, input, input[type="submit"], .prodBg:hover { webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear }
h1, h2, h3, h4, h5, h6 { font-family: inherit; margin-top: 0px; color: inherit; margin-bottom: 0.8rem; font-weight: normal; line-height: 1.2; }
h1 { font-size: 2.9rem }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.5rem }
h4 { font-size: 1.175rem }
h5 { font-size: 0.75rem }
h6 { font-size: 0.9rem }
label { font-weight: normal }
ul { margin-top: 0px; margin-bottom: 12px }
a { color: inherit }
a:hover, a:focus { color: #499fdc; text-decoration: none; outline: none }
.btn { font-size: 1.4rem; color: #fff; outline: none; text-shadow: 0.5px 0.866px 2px rgba(0, 0, 0, 0.65); padding: 18px 18px; background-color: #2dad57; font-weight: bold;/* text-transform: capitalize; */ transition: all 200ms ease 0s; box-shadow: 0 2px 0px 0px #2a4a58; padding: 0.55rem 2rem; border-radius: 5px; }
.btn:hover, form input[type="submit"]:hover, .btn:focus, form input[type="submit"]:focus { background: rgba(45, 173, 87, 0.92); color: #fff; box-shadow: 0 2px 0px 0px rgb(0, 0, 0); }
label { font-weight: inherit; position: relative }
select, select.form-control, input.form-control, input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="image"]) { height: 48px; font-size: 1rem; box-shadow: none;/* border-radius: 1px; */ color: inherit; border-color: #eeeeee; background-color: #ffffdc; background-color: #fafafa; }
input.form-control, input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="image"]), select, select.form-control { }
select, select.form-control { font-weight: normal; background-image: url(assets/img/dr_down.png); -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; background-repeat: no-repeat !important; background-size: 20px !important; background-position: center right !important; padding-right: 22px !important; }
select::-ms-expand { display: none; }
.inputImg { background-image: url(../img/tick.png); background-repeat: no-repeat; background-position: center right 8px; padding-right: 37px !important }
.kformErrorOutline.inputImg { background-image: none }
.form-control:-moz-placeholder { color: #666666; font-size: 1rem }
.form-control::-moz-placeholder { color: #666666; font-size: 1rem }
.form-control:-ms-input-placeholder { color: #666666; font-size: 1rem }
.form-control::-webkit-input-placeholder { color: #666666; font-size: 1rem }
.mt-0 { margin-top: 0 }
.mt-1 { margin-top: 0.5rem }
.mt-3 { margin-top: 1rem }
.mt-4 { margin-top: 1.5rem }
.mt-5 { margin-top: 2rem }
.mb-0 { margin-bottom: 0 }
.mb-1 { margin-bottom: 0.5rem }
.mb-3 { margin-bottom: 1rem }
.mb-4 { margin-bottom: 1.5rem }
.mb-5 { margin-bottom: 2rem }
.rp-7 { padding-right: 7px }
.lp-7 { padding-left: 7px }
.float-none { float: none; display: inline-block }
.fullImg { width: 100% }
.medbold { font-weight: 500; }
.semibold { font-weight: 600; }
.bold { font-weight: bold;  /* font-size: 2.8rem; */ }
.modal { font-size: 14px; padding-right: 0px !important; }
.modal-title { line-height: normal; border-bottom: none; padding-bottom: 0; font-size: 20px; text-transform: capitalize; font-weight: bold }
.modal-header { padding: 8px 10px; background: #f0f0f0 }
.modal-header .close { margin-top: 2px; width: 22px; background: #f26122; line-height: 18px; color: #fff; opacity: 1; padding-bottom: 4px; border-radius: 100%; box-shadow: none; outline: none }
.contbg { background: #fff; padding-left: 15px; padding-right: 15px }
.header { box-shadow: 0px 0px 2px 0px black; border-top: 7px solid #007fc4; border-bottom: 2px solid #f1f1f1; }
.header .logo { padding: 1rem 0; width: 340px; }
.banner-col > .row { padding-bottom: 4rem; }
.banner-col > .row { padding-top: 2.5rem; margin-right: 10px; margin-left: 10px; }
.banner-video .nav-tabs { border-bottom: none; margin-top: 1.25rem; }
.banner-video .nav>li { width: calc(16.66% - 4px); display: inline-block; float: none; padding: 3px; }
.banner-video .nav>li>a { padding: 0px; margin-right: 0px; }
.banner-video .nav-tabs>li.active>a, .banner-video .nav-tabs>li.active>a:focus, .banner-video .nav-tabs>li.active>a:hover { border: 1px solid #afafaf; }
.banner-video .nav>li>a>img { max-width: 100%; border: 1px solid #ededed; }
.banner-desc p { margin-bottom: 20px; }
.banner-desc ul { padding-left: 23px; margin-top: 5px; margin-bottom: 2.5rem; }
.banner-desc ul li { margin-bottom: 15px; }
.banner-desc .btn { border-radius: 0.6rem; margin-left: 23px; font-size: 2rem; background-color: #2dad57;/* width: 80%; */ box-shadow: 0px 3px 0 #4b6232; text-shadow: 0 1px 1px #1d252f; }
.banner-desc .btn:hover { background: #abd082; box-shadow: 0px 3px 0 #0e0a15; transition: 0.9s; }
.row.featuredIn { background-color: #ededed; padding: 1.5rem 1rem; }
.featuredIn-col h4 { position: relative; }
.featuredIn-col h4:after { content: ''; position: absolute; left: 0px; top: 50%; width: 100%; height: 1px; background-color: #c4c4c4; }
.featuredIn-col h4 span { z-index: 2; background: #ededed; display: inline-block; position: relative; padding: 0px 10px; }
.featuredlogos { margin-left: -1.25rem; margin-right: -1.25rem; }
.featuredlogos li { vertical-align: middle; padding: 0px 1.25rem; max-width: calc(25% - 4px); }
.featuredlogos li img { max-height: 70px; margin-left: auto; margin-right: auto;/* width: 81%; */ }
.customersReviews { padding: 2.5rem 1rem 0px; }
.customersCol h2 { color: #007fc4; font-size: 2.7rem; }
.customersRow > .row { margin-bottom: 4rem; }
.customersRow { margin-top: 2.5rem; padding: 0px 10%; }
.stars-col { padding-right: 0px }
.stars-right-col { padding-right: 15px; padding-left: 0px; }
.stars-col img {/* max-width:150px */ }
.stars-col p { font-size: 12px }
.customers-desc h4 { margin-bottom: 1.3rem; font-size: 19px; }
.packages-row { background-color: #efefef; padding-top: 2.65rem; }
.packages-heading { margin-bottom: 2.45rem; }
.packages-heading h1 { font-size: 2.6rem; line-height: 3rem; }
.packages-heading p { font-size: 1.1rem; }
.packagesrow { margin-left: 15px; margin-right: 15px; padding-bottom: 1rem; }
.package-col { padding: 0px; position: relative; }
.most-popular { top: -15px; }
.packagebg { padding: 15px 15px 20px; -webkit-box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.3); background: #fff; border-radius: 5px; overflow: hidden; position: relative; }
.package2 .packagebg, .package3 .packagebg { padding-top: 0px !important; }
.most-popular .packagebg { background-color: #cee0e5; }
.packagebg { }
.kform_selectedProduct .packagebg { box-shadow: 0 1px 22px 0px rgba(0, 0, 0, 0.5); border-radius: 10px; border: 4px solid #0071a8; z-index: 12;/* overflow: hidden; *//* position: relative; */ }
.package-col h6 { font-size: 1.25rem }
.corner-ribbon { width: 200px; background: #e43; position: absolute; line-height: 50px; letter-spacing: 1px; color: #f0f0f0; -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); z-index: 90; top: 25px; right: -50px; left: auto; transform: rotate(45deg); -webkit-transform: rotate(45deg); }
.packageImg { display: table; width: 100%; min-height: 240px; margin-bottom: 15px; }
.packageImg  figure { display: table-cell; vertical-align: middle; }
.product-detail { margin-bottom: 15px; }
.product-detail h4 { font-size: 1.5rem; margin-bottom: 5px; }
.usa-shipping { margin-bottom: 15px }
.usa-shipping img { max-width: 50px; display: inline-block; margin-left: 4px; }
.packagebg .btn { width: 84%; font-size: 1.5rem; text-transform: uppercase; }
.packagebg .btn:hover, .packagebg .btn:focus { color: white !important; background-color: #B40019 !important; transition: 0.7s; transform: translate(0, -3px); }
.package1 .mb-guarantee {/* font-size: 0.9rem */ }
.mostPopular, .bestvalue { color: #fff; padding: 6px 33px; display: inline-block; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; margin-bottom: 25px; min-width: 210px; }
.mostPopular { background: #ec463b; }
.bestvalue { background: #19af42; color: #fff; }
.upsellRow { padding: 3rem 0rem; }
.upsellRow h1 { font-size: 2.4rem; }
.upsellIn { padding-left: 1rem; padding-right: 1rem; }
.upsellDesc h3 { font-size: 1.4rem; }
.upsellDesc p { font-size: 0.95rem; line-height: 1.5; }
.upsellDesc del { color: #98908b; display: block; }
.upsellDesc .only { font-size: 2.2rem; color: #0d8900; }
.upsellDesc .only sub { font-size: 13px; bottom: 0; color: #000; }
.upsellDesc  .btn { font-size: 1.3rem; padding: 0.85rem 2rem; background-color: #fddf04; color: #444444; text-shadow: none; }
.warrantybtn { position: relative; display: block; }
.addCheck-field { position: absolute; opacity: 0; }
.warranty-nothanks { font-size: 1.1rem; text-decoration: underline; color: #6e8dff; font-weight: 600; }
.checkout-form { background-color: #f9f9f9; border-top: 1px solid #bcb5b9; display: none; }
.checkout-field { padding: 2rem 2.5rem; background: #fff; border-right: 1px solid #bcb5b9; }
.checkout-field .headline { font-size: 1.9rem; margin-bottom: 20px; }
#paypal_btn { padding: 15px 40px 15px; display: inline-block; text-align: center; text-decoration: none; transition: .3s; background-color: #f9c520; border-radius: 5px;/* max-width: 240px; *//* width: 100%; */ }
#paypal_btn:hover { cursor: pointer; background-color: #f5de32; }
.checkout-field .divider { position: relative; margin: 1rem 0 1rem; }
.checkout-field .divider:before { content: ''; width: 100%; height: 1px; position: absolute; top: 50%; left: 0; z-index: 1; background: #535353; opacity: .3; }
.checkout-field .divider span { display: inline-block; color: #535353; padding: 5px 10px !important; background: #fff; position: relative; z-index: 2; }
.chckd-title {/* font-size: 1.25rem; *//* position: relative; *//* padding-left: 60px; *//* margin-bottom: 1rem; */ }
.chckd-title:before {/* content: ''; *//* width: 45px; *//* height: 22px; *//* background: url(assets/img/checkout-shipping.svg); *//* background-size: 45px 22px; *//* position: absolute; *//* top: 3px; *//* left: 0; */ }
#payment-info { padding-top: 20px; }
.yes-no-fields { padding-top: 20px; padding-bottom: 20px; }
.form-row { margin-left: -6px; margin-right: -6px; }
.form-row .form-group { padding-left: 6px; padding-right: 6px; }
.inpbg { position: relative; }
.inpbg input { transition: .2s; }
.inpbg.good:after { content: ''; width: 20px; height: 20px; background: url('assets/img/checkout-check.svg'); background-size: 20px 20px; position: absolute; top: 16px; right: 12px; }
.inpbg.good input, .inpbg.good select { border-color: #7dc001 !important; box-shadow: inset 0 0 1px 1px #7dc001 !important; }
.inpbg.filled  input { padding: 20px 42px 6px 13px !important; transition: .2s; }
.inp select { background-image: none; transition: .2s; }
.inp .filled   select { padding: 20px 50px 6px 13px !important; transition: .2s; }
.inpbg.bad input, .inpbg.bad select { border-color: red !important; box-shadow: inset 0 0 1px 1px red !important; padding: 20px 13px 6px !important; }
.inp .selectbg:before { content: ''; width: 1px; height: 60%; background: #868686; position: absolute; top: 20%; right: 40px; z-index: 2; pointer-events: none; }
.inp .selectbg:after { content: ''; width: 14px; height: 8px; background: url(assets/img/checkout-form-arrow.svg); background-size: 14px 8px; position: absolute; top: 50%; margin-top: -4px; right: 15px; z-index: 2; pointer-events: none; }
.inp label { transition: .2s; position: absolute; top: 5px; left: 15px; pointer-events: none; font-size: 10px; display: none; }
.inp:focus label { display: inline-block; }
.inp .good label { color: #7dc001; }
.inp .bad label { color: red; }
.submit-group .btn { width: 60% }
.checkout-summary { padding: 3rem 2.5rem 0; background: #f9f9f9; }
.img { width: 65px; max-width: 65px; height: 65px; border: 1px solid #dfdfdf; border-radius: 5px; position: relative; }
.img .qty { display: inline-block; position: absolute; top: -5px; right: -5px; background: rgba(153, 153, 153, .9); border-radius: 100%; padding: 2.5px 7px; font-size: 11px; color: white; }
.totalPrice { font-size: 1.5rem; }
.sumPro_title, .img { display: table-cell; vertical-align: middle }
.sumPro_title { padding-left: 15px; }
.table.summarytable tbody tr td { vertical-align: middle; border-top: 1px dashed #e9e9e9; padding-top: 20px; padding-bottom: 20px; }
.table.summarytable tbody  tr td:first-child { padding-left: 0px; }
.table.summarytable tbody  tr td:last-child { padding-right: 0px; text-align: right }
.table.summarytable tbody  tr:first-child td { padding-top: 0px; border-top: none; }
.trust-badges-col { background: #efefef; border-top: 1px solid #bcb5b9; padding: 10px 15px; }
.faqs { -webkit-box-shadow: inset 0 4px 10px 0 rgba(0, 0, 0, 0.3); box-shadow: inset 0 4px 10px 0 rgba(0, 0, 0, 0.3); padding: 20px 10px; background-color: #007fc4; }
#faqs { display: none; }
.faqs-title { margin-bottom: 0px; }
.faqs-title a { text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8); text-decoration: underline; letter-spacing: 1px; color: #fff; font-size: 1.6rem; }
.faqs-col .panel-default>.panel-heading { color: inherit; border-bottom: 1px solid #e5e5e5; border: none; padding: 10px 0px }
.faqs-col .maintitle { margin-bottom: 2rem }
.ffaqs-colaq .panel { border-radius: 0px; border: none; -webkit-box-shadow: unset; box-shadow: unset; border-bottom: 1px solid #e5e5e5 }
.faqs-col .panel-group .panel { }
.faqs-col .panel-heading { padding: 0px 0px 0px; }
.faqs-col .panel-title { font-size: 0.82rem; font-weight: 600; padding-right: 35px; position: relative }
.faqs-col .panel-heading a { display: block; background: #e8edf0; color: #70818b; padding: 1.25rem 2.2rem 1.25rem 4.5rem; font-weight: bold; position: relative; line-height: 1.5; }
.faqs-col .panel-heading a[aria-expanded="true"], .faqs-col .panel-heading a:hover { color: #0fa3f4; }
.faqs-col .panel-heading a:before { content: 'Q:'; position: absolute; left: 20px; font-weight: bold; font-size: 1.5rem; line-height: 1; margin-top: -1px; }
.faqs-col .panel-heading a em { position: absolute; right: 1.25rem; font-size: 1.8rem; width: auto; line-height: 1; }
.faqs-col .panel-group .panel+.panel { margin-top: 0.5rem; }
.faqs-col .panel-body { padding: 20px; position: relative; padding: 1.25rem 1.25rem 1.25rem 4.5rem; }
.faqs-col .panel-body:before { content: 'A:'; position: absolute; left: 20px; font-weight: bold; font-size: 1.5rem; line-height: 1; margin-top: -1px; }
footer.footer { padding: 30px 15px 5px; color: #919b9a; }
.footer-col ul li { margin: 0px 1rem; font-size: 14px }
.footer-logo { }
.copyright { font-size: 12px; padding: 5px 0; color: #7a7a7a; }
.wrntUpbody { padding: 60px 15px 20px; color: #222222; font-size: 18px; }
.warntyUpsell .close { opacity: 1; position: absolute; right: 15px; top: 9px; outline: none; }
.wrntUpbody h1 { font-size: 40px; margin-bottom: 0px; font-weight: bold; }
.wrntUpbody h1 span { font-size: 60px; color: #fd0303; display: block; margin-top: 8px; }
.lifetimeWarranty figure img { max-width: 560px; max-width: 100%; }
.lw-desc del { display: block; font-size: 24px; }
.lw-desc span { font-size: 45px; display: block; font-weight: bold; line-height: normal; }
.wrntUpbody .btn { margin: 0px auto; margin-top: 20px; font-size: 27px; }
.wrntUpbody .nothanks { margin-top: 20px; display: inline-block; color: #4267b2; text-decoration: underline; font-size: 21px; padding-top: 12px; font-weight: 600; }
.submit-buttons { margin-top: 20px; }
img.cvvImg { max-width: 30% }
.securitycodeImg span { display: inline-block; width: 68%; vertical-align: middle; font-size: 11px; color: #a0a0a0; line-height: 1; padding-left: 6px; margin-left: -4px }
.sectTitle { font-size: 1.25rem; margin-bottom: 15px; }
.sectTitle img { margin: -5px 3px 0px 0px; }
.kdialogContent { position: absolute; min-width: 200px; max-width: 800px !important; max-height: 80%; top: 50% !important; margin-top: -120px; }
.kdialogWrap { position: fixed; top: 0 !important; left: 0; bottom: 0; width: 100% !important; height: 100% !important; }
.fixedpopbg { width: 100%; text-align: center; background: white; border-top: 1px solid #c4c4c4; position: fixed; bottom: 0; left: 0; right: 0; z-index: 101; padding: 10px; }
.fixedpopbg span { font-size: 2rem; margin-right: 12px; }
.fixedpopbg span, .fixedpopbg button { display: inline-block; vertical-align: middle; }
@media (min-width:1200px) {
    .container { width: 1200px; padding: 0px; }
}
@media (min-width:992px) and (max-width:1199px) {
    html { font-size: 14px }
    .corner-ribbon { width: 200px; line-height: 40px; letter-spacing: 0.9px; top: 24px; right: -56px; }
    .upsellDesc h3 { font-size: 1.4rem; }
    .upsellDesc .btn { font-size: 1.4rem; padding: 0.85rem 1.2rem; }
}
@media (min-width:992px) {
    .fixedpop { display: none !important; }
}
@media (max-width:991px) {
    html { font-size: 15px; }
    .banner-col h1 { font-size: 1.9rem; }
    .banner-col h3 { font-size: 1.2rem; }
    .banner-col > .row { padding-top: 2rem; margin-right: -5px; margin-left: -5px; }
    .banner-video .nav>li { padding: 1px; }
    .banner-desc .btn { font-size: 1.5rem; width: calc(100% - 23px); }
    .featuredlogos { margin-left: -1rem; margin-right: -1rem; }
    .featuredlogos li { padding: 0px 1rem; }
    .customersCol h2 { font-size: 2.4rem; }
    .customersRow { padding: 0px 0%; }
    .customersRow > .row { margin-bottom: 2rem; }
    .customers-desc h4 { font-size: 1.2rem; margin-bottom: 1rem; }
    .most-popular { top: 0px; }
    .package-col:not(:first-child) { margin-top: 1.5rem }
    .checkout-summary { padding: 2.5rem 1.5rem 0; }
    .checkout-field { padding: 2rem 1.5rem; }
    .checkout-field .headline { font-size: 1.6rem; }
    .img {/* width: 50px; *//* height: 50px; */ }
    .table.summarytable tbody tr td { padding-top: 10px; padding-bottom: 10px; }
    .upsellDesc h3 { font-size: 1.3rem; }
    .upsellDesc .btn { font-size: 1.4rem; }
    .upsellRow h1 { font-size: 1.8rem; }
    .checkout-summary table td { font-size: 1rem; }
    .tab-content iframe { height: 200px; }
    .packageImg { min-height: 0; margin-bottom: 20px; margin-top: 20px; }
    .packagebg { padding: 22px 15px 20px; }
}
@media (max-width:767px) {
    body { padding-top: 0px; background-color: #ffffff; }
    .contbg { padding-left: 0; padding-right: 0; }
    .checkout-field { padding: 2rem 1.3rem; }
    .checkout-summary { padding: 2.5rem 1.3rem 0; }
    .banner-col > .row { padding-top: 1.1rem; margin-right: -10px; margin-left: -10px; }
    .banner-desc { margin-top: 2rem }
    .customersRow > .row { margin-bottom: 1.8rem; }
    .customersRow { margin-top: 1.8rem; }
    .customersCol h2 { font-size: 2rem; }
    .footer-col ul li { margin: 0px 0.5rem; font-size: 1rem; }
    .mobisummary {    /* box-shadow: 0px 0 5px rgba(0, 0, 0, 0.7); */
    position: fixed; z-index: 100; left: 0px; right: 0px; top: 0px; background: #f9f9f9; }
    .mob-ch-summary { padding: 0px 15px; }
    .summaryrow1 { border-bottom: 1px solid #ccc; padding-bottom: 10px; padding-top: 10px; }
    .orderSummary a { font-size: 1.2rem }
    .mobprice  span { font-size: 1.5rem }
    .mob-package { display: table; width: 100%; text-align: left; }
    .selectBox { vertical-align: middle; width: 24px; padding-right: 5px; }
    .selectBox .selectBoxbg { outline: none; -webkit-appearance: none; width: 24px; height: 24px; border: 2px solid #ced8dd; background: #f2f9fd; position: relative; pointer-events: none; }
    .kform_selectedProduct .selectBoxbg:before { content: "\f00c"; font-family: fontAwesome; width: 100%; position: absolute; font-size: 16px; line-height: 20px; text-align: center; }
    .mostPopular, .bestvalue { font-size: 1.2rem; margin-bottom: 15px; padding: 5px 30px; min-width: 195px; }
    .bestvalue { background: #ff7e00; }
    .summarytable .productImg { width: auto !important; }
    .productImg { vertical-align: middle; padding-left: 5px; padding-right: 7px; width: 110px; }
    .productImg figure {/* max-width: 100%; */ }
    .productDetail { vertical-align: middle; }
    .productDetail .product-detail { margin-bottom: 0px; }
    .package-col:not(:first-child) { margin-top: 15px !important; }
    .packagebg { padding: 15px 15px 15px !important; box-shadow: none; border-radius: 5px; border: 1px solid rgba(0, 0, 0, .1); border: 1px solid #c1c1c1; }
    .most-popular .packagebg { padding-top: 30px; background: #fff; }
    .kform_selectedProduct .packagebg { background: #d9f6ff; border: 1px solid #000000; box-shadow: none; }
    .upsellRow h1 { font-size: 2.5rem }
    .upsellDesc { margin-top: 1.5rem }
    .upsellDesc h3 { font-size: 1.6rem; }
    .upsellDesc .btn { font-size: 1.7rem; }
    .upsellIn { padding-left: 0rem; padding-right: 0rem; }
    .tab-content iframe { height: 300px; width: 100% }
    .packages-heading { margin-bottom: 1.5rem; }
}
@media (max-width:680px) {
    html { font-size: 16px; }
    .packages-heading h1 { font-size: 2.3rem; line-height: 2.8rem; }
    .row.featuredIn { padding: 1.5rem 0.6rem; }
    .faqs-col .panel-heading a { padding: 1rem 2.2rem 1rem 3.7rem; }
    .faqs-col .panel-heading a em { right: 1.1rem; font-size: 1.5rem; }
    .faqs-col .panel-body { padding: 1rem 1.25rem 1rem 3.7rem; }
    .faqs-col .panel-heading a:before, .faqs-col .panel-body:before { left: 15px; font-size: 1.3rem; margin-top: 0px; }
}
@media (max-width:600px) {
    .packages-heading h1 { font-size: 2rem; line-height: 2.8rem; }
    .packages-heading h1 br { display: none; }
    .wrntUpbody h1 { font-size: 33px; }
    .wrntUpbody h1 span { font-size: 50px; }
    .upsellRow { padding: 2.5rem 0rem; }
}
@media (max-width:500px) {
    .banner-col h1 { font-size: 1.8rem; }
    .banner-col h3 { font-size: 1rem; }
    .packagesrow { margin-left: 0px; margin-right: 0px; padding-bottom: 1rem; }
    .customersReviews { padding: 2.5rem 0rem 0px; }
    .customersCol h2 { font-size: 1.7rem; }
    .stars-col { width: 22% }
    .customers-desc { width: 78% }
    .customers-desc h4 { font-size: 1.05rem; margin-bottom: 1rem; }
    .faqs { padding: 1.25rem 0px; }
    .faqs-title { font-size: 1.4rem; }
    .faqs-title a { font-size: inherit; }
    .featuredlogos li { max-width: calc(50% - 4px); margin-top: 1.5rem; }
    .featuredIn-col h4 { position: relative; margin-bottom: 0px; }
    .submit-group .btn { width: 70%; }
    .product-detail h4 { font-size: 1.3rem; }
    .upsellRow h1 { font-size: 2.2rem }
    .upsellDesc h3 { font-size: 1.4rem; }
    .upsellDesc .btn { font-size: 1.5rem; }
    .wrntUpbody h1 { font-size: 27px; }
    .wrntUpbody h1 span { font-size: 45px; }
    .tab-content iframe { height: 225px; }
    .fixedpopbg span { font-size: 1.3rem; }
}
@media (max-width:479px) {
    .banner-col h1 { font-size: 2.0rem; }
    .banner-desc .btn { font-size: 1.4rem; width: calc(100%); margin-left: 0px; }
    .banner-col > .row { padding-top: 5px; margin-right: -10px; margin-left: -10px; }
    .packages-heading h1 { font-size: 1.9rem; line-height: 2.5rem; }
    .stars-col { width: 35%; }
    .customers-desc { width: 100% }
    .submit-group .btn { width: 100%; }
    .product-detail h4 { font-size: 1.24rem; }
    .productImg { padding-left: 5px; padding-right: 5px; width: 95px; }
    .packagebg { padding: 12px 12px 12px !important; }
    .selectBox .selectBoxbg { width: 20px; height: 20px; }
    .selected .selectBoxbg:before { font-size: 14px; line-height: 16px; text-align: center; }
    .upsellRow h1 { font-size: 1.5rem; }
    .upsellDesc h3 { font-size: 1.1rem; }
    .upsellDesc .btn { font-size: 1.2rem; padding: 0.85rem 1.2rem; }
    .wrntUpbody h1 { font-size: 24px; }
    .wrntUpbody h1 span { font-size: 40px; }
    .lw-desc span { font-size: 35px; }
    .wrntUpbody .btn { font-size: 23px; }
    .tab-content iframe { height: 200px; }
    .upsellRow { padding: 1.5rem 0rem; }
    .upsellIn { margin-top: 1rem; }
    .upsellImg img { max-width: 250px }
    .upsellDesc { margin-top: 1rem; }
    .upsellprice { margin-top: 1rem; }
    .warrantybtn { margin-bottom: 1rem; }
    .warrantybtnCol { margin-top: 10px; }
    .fixedpopbg button { padding: 0.4rem 1.5rem; font-size: 1.1rem; margin-bottom: 1px; }
    .btn { font-size: 1.3rem; padding: 0.65rem 1.5rem; border-radius: 5px; }
}
@media (max-width:380px) {
    .faqs-title { font-size: 1.1rem; }
    .tab-content iframe { height: 170px; }
    .packages-heading h1 {/* font-size: 1.7rem; */line-height: 2.3rem; }
    .product-detail h4 { font-size: 1.25rem; }
    .productImg { padding-left: 0px; padding-right: 0px; width: 80px; }
    .packagebg { padding: 15px 10px 15px !important; }
    .upsellRow h1 { font-size: 1.45rem; }
    .upsellDesc h3 { font-size: 1.32rem; }
    .upsellDesc .btn { font-size: 1.02rem; }
    .checkoutBtn { font-size: 18px; padding: 0.75rem 1rem; }
    .wrntUpbody h1 { font-size: 20px; }
    .wrntUpbody h1 span { font-size: 36px; }
    .lw-desc span { font-size: 35px; }
    .wrntUpbody .btn { font-size: 20px; padding: 0.75rem 1.2rem; }
    .wrntUpbody .nothanks { font-size: 14px; }
    .fixedpopbg span { font-size: 1.2rem; }
    .fixedpopbg { padding: 7px 10px; }
}
@media (max-width:360px) {
    .packages-heading h1 {/* font-size: 1.7rem; */line-height: 1.3rem; font-size: 1.56rem; }
    .packages-heading p { font-size: 1rem; }
    .product-detail h4 { font-size: 1.05rem; }
    .productImg { width: 60px; }
    .upsellRow h1 { font-size: 1.27rem; }
    .upsellDesc h3 { font-size: 1.1rem; }
    .upsellDesc .btn { font-size: 0.9rem; padding: 0.75rem 1rem; }
    .checkoutBtn { font-size: 15px; }
    .tab-content iframe { height: 140px; }
    .selectBox .selectBoxbg { width: 16px; height: 16px; }
    .selectBox { width: 20px; }
    .kform_selectedProduct .selectBoxbg:before { font-size: 12px; line-height: 12px; }
    .banner-col h1 { font-size: 1.55rem; }
}
.more_packages {
    margin: 50px 0;
}
.more_packages button {
    outline: none;
    cursor: pointer;
    transition: all 200ms ease 0s;
}
.more_packages button:hover {
    background-color: #F16E1D;
}
.more_package {
    width: 23.5%;
    text-align: center;
    padding: 0 0 10px;
    float: left;
    border-radius: 3px;
    margin-left: 2%;
    box-shadow: 0 1px 9px 0 rgba(0,0,0,0.3);
}
.more_package, .more_package > div {
    display: inline-block;
}
.more_package > div > span{
    display:;
}
.more_packages > div:nth-child(3) {
    display:contents;
}
.more_packages > div:nth-child(3) > div:first-child {
    margin-left: 0;
}
 .more_package > div button {
    display: block;
    margin: auto;
    color: #fff;
    background-color: #25ae4e;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
}
.more_packages > button {
    display: block;
    margin: 10px auto 20px;
}
.more_packages > button {
    display: block;
    margin: 10px auto 25px;
    color: #fff;
    background-color: #25ae4e;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    padding: 15px 35px;
    border: none;
    border-radius: 3px;
}
.more_package h2 {
    margin: 0;
}
.more_package > img {
    float: left;
    position: relative;
    left: 10px;
}
.more_package > span {
    position: relative;
    top: 60px;
    font-size: 60px;
    left: -10px;
}
